<div class="container">
    <p>{{user.login}}</p>
    <p>{{user.avatar_url}}</p>
    <p>{{user.bio}}</p>
    <p>{{user.created_at}}</p>
    <p>{{user.public_repos}}</p>
    <div *ngFor ="let repoDetail of repoDetails ">
<p>{{repoDetail.name}}</p>
<p>{{repoDetail.description}}</p>
<p>{{repoDetail.updated_at}}</p>
<p>{{repoDetail.language}}</p>
    </div>
    
  <div class="row">
    <!-- <div class="col-md-6">
      <h5><span class="text-info mb-3 mt-3">Name: </span> {{user.login}} </h5>
      <span class="text-info"> User Avatar: <img src="{{ user.avatar_url}}" alt=""></span>
      <p  class="lead mt-3 mb-3"><span class="text-info">Bio: </span> {{user.bio}} </p>
      <p  class="lead mt-3 mb-3"><span class="text-info">Created at: </span> {{user.created_at | date}} </p>
      <p  class="lead mt-3 mb-3"><span class="text-info">Public</span>{{user.public_repos}}</p> -->
    
    <!-- <div class="col-md-6">
        <div *ngFor = "let repoDetail of repoDetails">
            <h5><span class="text-info">Repository name: </span> {{repoDetail.name}} </h5>
            <p class="lead mt-3 mb-3"><span class="text-success">Description: </span> {{repoDetail.description}} </p>
            <p class="lead mt-3 mb-3"><span class="text-success">Updated: </span> {{repoDetail.updated_at | date}} </p>
            <p class="lead mt-3 mb-3"><span class="text-success">language: </span> {{repoDetail.language}}</p>
    </div> -->
  </div>

